$colorBackground: cyan;

@mixin makeContainer {
    margin: 0 auto;
    padding: 10px 25px;
    background-color: #f2f2f2;
}

@mixin ghost {
    &:before {
        content: '';
        position: absolute;
        inset: 10px;
        background: rgba($color: red, $alpha: .3);
        pointer-events: none;
    }
}

body {
    font-family: sans-serif;
    background: $colorBackground;

    h1 {
        position: relative;
        color: darken($colorBackground, 20%);

        @include ghost()
    }
}

.block{
    &__elem{
        color:red;
    }
}

.container {
    max-width: 1170px;
    @include makeContainer()
}

.container-fluid {
    @include makeContainer()
}